.measurement { max-width: 10000px; }

@media screen and (max-width:1280px) {
    .measurement { max-width: 1280px; }
}

@media screen and (max-width:1024px) {
    .measurement { max-width: 1024px; }
}

@media screen and (max-width:960px) {
    .measurement { max-width: 960px; }
}

@media screen and (max-width:767px) {
    .measurement { max-width: 767px; }
}

@media screen and (max-width:640px) {
    .measurement { max-width: 640px; }
}

@media screen and (max-width:600px) {
    .measurement { max-width: 600px; }
}

@media screen and (max-width:580px) {
	.measurement { max-width: 580px; }
}

@media screen and (max-width:480px) {
    .measurement { max-width: 480px; }
}
