$font-family:    'Lato', sans-serif;
$font-size:    14px;
$font-size-main-nav:    16px;
$font-size-main-nav-l:	14px;
$font-size-h2:    16px;
$font-size-h2-l:    15px;

$white: #fff;
$grey: #666;
$black: #000;
$blue: #0033a0;

$primary-color: $grey;
$header-bg-color: $blue;
$sidebar-bg-color: #f4f3f1;

$link-color: $black;
$link-main-nav-color: $white;
$link-hover-color: $grey;
$link-main-nav-hover-color: $grey;
$link-visited-color: $white;

$break-xs: 320px;
$break-s: 480px;
$break-l: 768px;
$break-xl: 1200px;