/*********************
*   Robert Koteles
*   Web developer
*   2017
*********************/

@import "variables";
@import "mixins";
@import "normalize";
@import "screen";
@import "print";

/* --------------------------------------------------
 * Fonts
 * -------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Lato');


/* --------------------------------------------------
 * Base
 * -------------------------------------------------- */

 * { box-sizing:border-box; -ms-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }

body {
	font-size: $font-size; line-height: 1.3;
	font-family: $font-family;
	color: $primary-color;
}

h1, h2, h3, h4, h5, h6 { font-weight: normal; line-height: 1.2; margin-top: 0; margin-bottom: 10px; }

p { font-size:$font-size; margin:0 0 20px 0; }

a { color:$link-color; text-decoration:none; }
a:hover { color: $link-hover-color; text-decoration:underline; }

b, strong {}

img { display:block; max-width:100%; margin: 0; }

ol, ul { font-size:16px; margin:0 0 20px 0; padding-left:20px; }
li {}

::-webkit-inner-spin-button { -webkit-appearance:none; }
::-webkit-outer-spin-button { -webkit-appearance:none; }

::-webkit-input-placeholder { color:$primary-color; }
:-moz-placeholder { color:$primary-color; }
::-moz-placeholder { color:$primary-color; }
:-ms-input-placeholder { color:$primary-color; width: 100%; }




/* --------------------------------------------------
 * Site definitions
 * -------------------------------------------------- */

.loadmore { margin-bottom: 20px; }

/*********************
*	Header 
*********************/

/*nice animation for hiding the navigation if not necessary to show*/
.scrolling-up header {}
.scrolling-down header { @include transform(translateY(-100%)); }

header { width: 100%; position: fixed; z-index: 10; background-color: $header-bg-color; @include transition(all .5s ease); @include box-shadow(0px 2px 4px 0px rgba(0, 0, 0, 0.4), 0px 0px 6px 2px rgba(255,255,255,0.5));
	
	img.header-logo { width: 100px; height: 27px; position: relative; margin: 20px 30px; top: 0; cursor: pointer; @include transition(all .5s ease); 
		
			@media screen and (max-width: $break-s) {
				margin: 10px 24px;
			}

		&:HOVER { opacity: .5; }
	}
	
			@media screen and (max-width: $break-s) {
				&.mobilemenu-open {
					nav { @include transform(translateY(0)); opacity: 1;  }
				}
			}
	
	/*********************
	*	Main navigation 
	*********************/
	nav.navbar { margin-bottom: 0; border: 0; border-radius: 0; }
	
}


/*********************
*	Main sections 
*********************/
main { padding-top: 116px;

	section {
		height: 100%;
		min-height: 100px;
		background-color: $white;
		@include transition(all .5s ease);
		
		/***************************************************************
		*	Teasers contain the important datas to show 
		***************************************************************/		
		.teasers {
			position: relative;
			&:AFTER { content:''; clear: both; display: block;}
		}
		
		.teaser { padding: 10px; 
			.teaser-inner {
				padding: 10px; cursor: pointer; @include box-shadow(0px 2px 4px 0px rgba(0, 0, 0, 0.4), 0px 0px 6px 2px rgba(255,255,255,0.5));

					&:HOVER { 
						img { @include transform(scale(1.1));  }
					} 
					
					.teaser-img { overflow: hidden; height: 0; padding-bottom: 54.7%; margin: -10px -10px 10px -10px; }
					img {
						@include transition(all 1s ease);				
					}

					p {
						margin: 16px 0 8px 0;
						a {					
							text-decoration: none !important;
						}
						span {
							display: block;
							font-weight: bold;
						}
					}

				}
		}
	}
}

/*********************
*	Footer 
*********************/
footer {
	width: 100%;
	background-color: $black;
	z-index: 10;
	position: relative;
	padding: 20px 24px;

	p.copyright {  margin: 0; text-align: right; }
}

/***************************************************************
*	All of the details will be shown up in the modal 
***************************************************************/
.modal-body { width: 100%; background-color: $white; padding: 20px;	

	h2 {
	}
	p {
		&:LAST-OF-TYPE { margin-bottom: 0; }
		span {
			display: block;
			font-weight: bold;
		}
	}

}